.Features__list-title {
  font-style: normal;
  font-weight: 400;
  font-size: calc(12px + 12 * (100vw / 1440));
  line-height: 155%;

  text-align: justify;
  letter-spacing: 0.05em;

  color: #ffffff;
}
