.media__img {
  width: 28.5%;
  margin-right: 15px;
  transition: all 0.5s ease;
}
.media__img:hover {
  opacity: 0.8;
  transition: all 0.5s ease;
}
.media__img:nth-of-type(4) {
  margin-right: 0;
}
@media screen and (max-width: 1200px) {
  .media__img {
  }
}
@media screen and (max-width: 1000px) {
  .media__img {
    margin-right: 10px;
  }
}
