.about__subtitle {
  font-style: normal;
  font-weight: 600;
  font-size: calc(10px + 14 * (100vw / 1440));
  line-height: 155%;
  text-align: justify;
  letter-spacing: 0.05em;
  color: #ffffff;
  margin: 0;
  margin-left: calc(150% / (1440 / 100));
  margin-right: calc(150% / (1440 / 100));
  margin-bottom: 59px;
}
@media screen and (max-width: 780px) {
  .about__subtitle {
    margin-left: calc(50% / (780 / 100));
    margin-right: calc(50% / (780 / 100));
    margin-bottom: 30px;
  }
}
