.header__title {
  font-style: normal;
  font-weight: 233;
  font-size: calc(12px + 8 * (100vw / 1440));
  line-height: 155%;

  text-align: right;
  letter-spacing: 0.05em;

  color: #ffffff;
  margin: 0;
}
@media screen and (max-width: 780px) {
  .header__title {
    text-align: start;
  }
}
